<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../partials/head')%>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar')%>
    <!-- HEAD -->
    <div class="jumbotron">
        <H1>NOW SHOWING</H1>
    </div>
    <!-- Content -->
    <div class="d-flex justify-content-center">
        <%for(let i = 0; i < movie.length; i++){%>
            
            <div class="card" style="width: 18rem;">
                <img src="<%=movie[i].image%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=movie[i].name%></h5>
                  <p class="card-text"><span style="font-weight:bold">Jadwal Tayang:</span> <br> <%=movie[i].tayang%></p>
                  <p class="card-text"><span style="font-weight:bold">Jumlah Tiket:</span> <br> <%=movie[i].maxtickets%></p>
                  <p class="card-text"><span style="font-weight:bold">Price:</span> <br> <%=movie[i].price%></p>
                  <button type="button" class="btn btn-dark" onclick="window.location.href='/movies/<%=movie[i].id%>/book'">BOOK A TICKET</button>
                </div>
            </div>
        <%}%>
    </div>
</body>
</html>